.account-page {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  padding: 20px;
}

.notifications, .user-events {
  margin-top: 20px;
}

button {
  margin-top: 20px;
  color: white;
  float: right
}
