.user-events-card {
  max-width: 800px;
  margin: 20px auto;
}

mat-grid-tile {
  padding: 10px;
}

mat-card {
  display: flex;
  flex-direction: column;
  height: 100%;
}

mat-card-image {
  max-height: 200px;
  object-fit: cover;
}
