.user-events-card {
  max-width: 800px; 
  margin: 20px auto; 
}

.events-container {
  max-height: 500px; 
  overflow-y: auto; 
  padding-right: 10px; 
  overflow-x: hidden
}

mat-grid-list {
  width: 100%; 
}

mat-grid-tile {
  padding: 10px; 
}

mat-card {
  display: flex;
  flex-direction: column;
  height: 100%;
}

mat-card-image {
  max-height: 200px; 
  object-fit: cover; 
}
