.notifications-card {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  box-sizing: border-box;
}

.notification-container {
  display: flex;
  align-items: center;
  padding: 8px;
  box-sizing: border-box;
  width: 100%;
  position: relative;
}

.notification-text {
  flex: 1;
  margin-right: 40px; /* Убедитесь, что отступ для кнопки достаточно большой */
  word-break: break-word;
}

.close-button {
  position: absolute;
  right: 8px; /* Положение кнопки справа */
  top: 50%; /* Выравнивание по вертикали */
  transform: translateY(-50%); /* Центрирование по вертикали */
  width: 24px;
  height: 24px;
}

mat-list-item {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  margin-bottom: 10px;
  padding: 0;
}

mat-paginator {
  margin-top: 20px;
}
