.register-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0;
}

.register-card {
  width: 400px;
  padding: 20px;
}

.full-width {
  width: 100%;
}

.register-actions {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}
