<mat-card class="about-company-card">
  <mat-card-header>
    <mat-card-title>О компании</mat-card-title>
  </mat-card-header>
  <mat-divider></mat-divider>
  <mat-card-content>
    <p>
      Добро пожаловать на платформу <strong>Event WebApplication</strong>! Мы гордимся тем, что предоставляем удобную и интуитивно понятную площадку для создания, управления и участия в различных событиях.
    </p>
    <p>
      Наша цель — упростить процесс организации мероприятий для всех пользователей, будь то организаторы, участники или просто заинтересованные лица. Мы понимаем, насколько важно, чтобы события проходили без сбоев, поэтому создали функционал, который охватывает все этапы — от анонса мероприятия до его успешного проведения.
    </p>
    <p>
      Мы стремимся к постоянному развитию и совершенствованию, чтобы ваша работа с платформой была максимально комфортной. Благодарим вас за выбор нашей платформы и надеемся, что она станет вашим надежным партнером в организации и участии в мероприятиях.
    </p>
    <p>Разработчик - Иван Старовойтов</p>
  </mat-card-content>
</mat-card>
