.about-company-card {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background-color: #f5f5f5;
}

mat-card-title {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 10px;
}

mat-card-content p {
  font-size: 16px;
  line-height: 1.6;
  margin-bottom: 15px;
  text-align: justify;
}

mat-divider {
  margin: 10px 0;
}
